<div class="header">
	<base href="{{ .Site.BaseURL }}">
	<div style="display: flex; flex-direction: row; width: 100%; align-items: center; justify-content: center;">
		<div style="margin-right: 1em;">
			<a href="{{ .Site.BaseURL }}">
				<img style="border-radius: 100px; overflow: hidden; width: 96px; height: 96;" src="/img/avatar.jpg" />
			</a>
		</div>

		<div style="flex: 1;">
			<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<div class="site-description">
				{{- if isset .Site.Params "subtitle" -}}
				<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
				{{- end -}}
				<nav class="nav social">
					<ul class="flat">
						{{- range $index, $key := .Site.Params.Social -}}
						<a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
						{{- end -}}
					</ul>
				</nav>
			</div>

		</div>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
